.auth-footer{
    color: var(--Accent-2);
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 20px;

    @media screen and (max-width: 1000px) {
        margin-top: 70px;
        display: flex;
        justify-content: center;
    }

    @media screen and (max-width: 768px) {
        display: none;
    }
}

